.address{
    position: absolute;
    bottom: -50%;
    left: 10%;
    // margin-top: 25px;
    width: 80%;
    height: 240px;
    // margin-right: auto;
    // margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 10%;
    border-radius: 15px;
    background-color: white;
    z-index: 500;
}
.address__section{
    width: 100%;
    // margin-bottom: 15px;
}
.address__section-title{
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $DarkGray;
}
.address__section-info{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}